<div class="padding-global"><div class="container-large"><div class="anfrage_hero_component"><div><div class="subheading text-color-white">
{{ section.settings.text_subheading }}
</div>
<h1 li-object="section.settings.text_heading" class="hero-heading text-color-white">{{ section.settings.text_heading }}</h1></div><div class="anfrage_hero_max-width"><p class="text-color-white">
{{ section.settings.text_text }}
</p>
</div></div></div></div><div class="li-custom w-embed"></div>
 {% schema %} {"tag":"section","name":"Hero Anfrage","class":"section_sub_hero","settings":[{"id":"text_subheading","type":"text","label":"Subheading","default":"\/\/ wir sind Rebound racing"},{"id":"text_text","type":"text","label":"Text","default":"Wir bieten dir Service, Tuning &amp; Zubeh\u00f6r f\u00fcr Federgabeln und D\u00e4mpfer der Marke CANE CREEK SUSPENSION. In unserer Service &amp; Tuning Anfrage kannst du unsere Service-Leistung mit verschiedenen Produkten individuell kombinieren. W\u00e4hle Marke &amp; Modell und wir zeigen dir, was wir zur Auswahl haben."},{"type":"html","id":"text_heading","label":"Headline","default":"Optimale Leistung f\u00fcr deine Federgabela"}],"presets":[{"name":"Hero Anfrage","category":"Liquify","blocks":[]}]} {% endschema %}